@{
    var listMajor = ViewBag.ListMajor;
    var listUser = ViewBag.ListUser;
}
<script>
    function validate1() {
        if ($('#Name_Teacher1').val() == "") {
            alert('Bạn chưa chọn tên giáo viên ! ');
            return false;
        }
        if ($('#Phone1').val() == "") {
            alert('Bạn chưa nhập số điện thoại ! Mời chọn ');
            return false;
        }
        if ($('#DateOfBirth1').val() == "") {
            alert('Chưa chọn ngày sinh ! Mời chọn');
            return false;
        }
        if ($('#Avatar1').val() == "") {
            alert('Bạn chưa chọn ảnh đại diện!');
            return false;
        }
        if ($('#Status1').val() == "Khongchon") {
            alert('Bạn chưa chọn trạng thái!');
            return false;
        }
        return true;
    }
</script>
<form action="/Teacher/Update" method="post" class="needs-validation">
    <div class="modal" id="updateModal">
        <div class="modal-dialog">
            <label id="lblresult"></label>
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Quản lý giáo viên</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" name="ID" id="ID1" value="0">
                    <div class="form-group">
                        <label>Tên giáo viên<span style="color:red">(*)</span></label>
                        <input class="form-control" type="text" id="Name_Teacher1" name="Name_Teacher" />
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại<span style="color:red">(*)</span></label>
                        <input class="form-control" type="number" id="Phone1" name="Phone" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" class="form-control" name="Address" id="Address1" />
                    </div>
                    <div class="form-group">
                        <label>Ngày sinh<span style="color:red">(*)</span></label>
                        <input class="form-control" type="date" id="DateOfBirth1" name="DateOfBirth" data-date-format />
                        <input class="form-control" id="NS1" name="NS" type="text" disabled />
                    </div>
                    <div class="form-group">
                        <label>Ảnh đại diện<span style="color:red">(*)</span></label>
                        <input type="text" name="Avatar" id="Avatar1" class="form-control" />
                        <input type="button" value="Tải ảnh lên" onclick="BrowseServer1();" class="controls" />
                    </div>
                    <div class="form-group">
                        <label>Giới tính</label>
                        <select name="Gender" class="form-control" id="Gender1">
                            <option value="Nam">Nam</option>
                            <option value="Nu">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái<span style="color:red">(*)</span></label>
                        <select class="form-control" name="Status" id="Status1">
                            <option value="KhongChon">Chọn...</option>
                            <option value="GiaoVienChinhThuc">Giáo viên</option>
                            <option value="GiaoVienThucTap">Giáo viên thực tập</option>
                        </select>
                    </div>
                    <div class="form-group" hidden>
                        <label>CreatedDate</label>
                        <input class="form-control" type="text" id="CreatedDate1" name="CreatedDate" value="System.DateTime.Now" />
                    </div>
                    <div class="form-group">
                        <label>Khoa<span style="color:red">(*)</span></label>
                        <select class="form-control" name="MajorID" id="MajorID1">
                            <option value="KhongChon">---Chọn khoa---</option>
                            @foreach (var item in listMajor)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>
                    @*<div class="form-group">
                            <label>Tài khoản</label>
                            <select class="form-group" name="UserID" id="UserID">
                                <option value="NULL">Chưa có tài khoản</option>
                                @foreach (var item in listUser)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>*@
                    <div class="form-group">
                        <label>Tài khoản</label>
                        <select class="form-control" name="UserID" id="UserID1">
                            <option value="null">---Chưa có tài khoản---</option>
                            @foreach (var item in listUser)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-lightbulb-o"></i>&nbsp; Đóng</button>
                    <button type="reset" class="btn btn-warning btn-sm"><i class="fa fa-map-marker"></i>&nbsp; Làm mới</button>

                    <input type="submit" name="submit" class="btn btn-success btn-sm" id="bt_sua" value="Cập Nhật" onclick="return validate1();" />
                </div>

            </div>
        </div>
    </div>
</form>
<script src="~/assets/ckeditor/ckeditor.js"></script>
<script src="~/assets/ckfinder/ckfinder.js"></script>
<script type="text/javascript">
    function BrowseServer1() {
        var finder = new CKFinder();
        //finder.basePath = "~/Scrips/ckfinder";
        //finder.selectActionFunction = SetFileField;
        finder.selectActionFunction = function (url) {
            $('#Avatar1').val(url);
        };
        finder.popup();
    }
    //function SetFileField(fileUrl) {
    //    document.getElementById("Avatar").value = fileUrl;
    //}

</script>
