@using Teacher_Manage_Service.Service.TeachCalendarService
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var listTeachCalendar = ViewBag.TeachCalendars;
}
<style>
    .button-delete {
        color: white;
    }
</style>
@{
    var session = (Managing_Teacher_Web.Common.UserLogin)Session[Managing_Teacher_Web.Common.CommonConstants.USER_SESSION];

}
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<div class="row">
    <h2 style="text-align:center;">QUẢN LÝ LỊCH GIẢNG DẠY</h2>
</div>
<div style="display:none;">
    <input type="hidden" id="hdnSession" value="@session.GroupID" />
</div>
<div class="row">
    <div>
        <label id="lblresult"></label>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách lịch giảng dạy<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @if (session.GroupID == "ADMIN")
                {
                    <div style="text-align:right">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="Them()"><i class="fa fa-plus-square"></i>&nbsp;Thêm mới</button>
                    </div>
                }

                <div>
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                            @TempData["AlertMessage"]
                        </div>
                    }
                </div>
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="display:none;">Mã</th>
                            <th>Tên lớp</th>
                            <th>Môn học</th>
                            <th>Giáo viên dạy</th>
                            <th>Phòng học</th>
                            <th>Giờ bắt đầu</th>
                            <th>Giờ kết thúc</th>
                            <th>Ghi chú</th>
                            <th>Tình trạng hiện tại</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (listTeachCalendar != null)
                        {
                            foreach (var item in listTeachCalendar)
                            {
                                <tr id="row_@item.ID">
                                    <td style="display:none">@item.ID </td>
                                    <td><a href="#!" onclick="Sua(this)" data-toggle="modal" data-target="#myModal">@(item.ClassName ?? "")</a></td>
                                    <td>@(item.Subject_Name ?? "")</td>
                                    <td>@(item.TeacherName ?? "")</td>
                                    <td>@(item.Room ?? "")</td>
                                    @if (item.StartTime != null)
                                    {
                                        <td id="StartTime">@item.StartTime.ToString("dd'/'MM'/'yyyy HH: mm:ss")</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (item.EndTime != null)
                                    {
                                        <td id="EndTime">@item.EndTime.ToString("dd'/'MM'/'yyyy HH: mm:ss")</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <th>@Html.Raw(item.Note ?? "")</th>
                                    <td>
                                        @if (item.Status.Equals("ChuaBatDau"))
                                        {
                                            <span style="color:orange"> Chưa bắt đầu </span>
                                        }
                                        else if (item.Status.Equals("DangDay"))
                                        {
                                            <span style="color:red"> Đang dạy </span>
                                        }
                                        else if (item.Status.Equals("DaKetThuc"))
                                        {
                                            <span style="color:limegreen">Đã kết thúc</span>
                                        }
                                        else
                                        {
                                            <span style="color:black">Tạm hoãn</span>
                                        }
                                    </td>
                                    @if (session.GroupID == "ADMIN" && item.Status.Equals("ChuaBatDau"))
                                    {
                                        <td>
                                            <a href="#" class="btn btn-info btn-xs" onclick="Sua(this)" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-pencil"></i> Sửa
                                            </a>
                                            @*<button href="#" class="btn btn-danger btn-xs" st0-yle="color:white;">
                                                    <i class="fa fa-trash-o"></i>
                                                    @Ajax.ActionLink("Xoá", "DeleteTeachCalendar", new { @id = item.ID },
                                                new AjaxOptions
                                                {
                                                    Confirm = "Bạn có muốn xoá bản ghi này?",
                                                    OnComplete = "$('row_" + @item.ID + "').remove()",
                                                    HttpMethod = "Delete"
                                                }, new { @class = "button-delete" })
                                                </button>*@
                                            <button href="#" class="btn btn-warning btn-xs" style="color:white;">
                                                <i class="fa fa-warning"></i>
                                                @Ajax.ActionLink("Hoãn", "Cancel", new { @id = item.ID },
                                            new AjaxOptions
                                            {
                                                Confirm = "Bạn có muốn hoãn buổi học này?",
                                                OnComplete = "$('row_" + @item.ID + "').remove()",
                                                HttpMethod = "Post"
                                            }, new { @class = "button-delete" })
                                            </button>
                                        </td>
                                    }
                                    else if (session.GroupID == "ADMIN" && item.Status.Equals("DangDay"))
                                    {
                                       <td></td>
                                    }
                                    else if (session.GroupID == "ADMIN" && item.Status.Equals("DaKetThuc"))
                                    {
                                        <td>
                                            <button href="#" class="btn btn-danger btn-xs" st0-yle="color:white;">
                                                <i class="fa fa-trash-o"></i>
                                                @Ajax.ActionLink("Xoá", "DeleteTeachCalendar", new { @id = item.ID },
                                            new AjaxOptions
                                            {
                                                Confirm = "Bạn có muốn xoá bản ghi này?",
                                                OnComplete = "$('row_" + @item.ID + "').remove()",
                                                HttpMethod = "Delete"
                                            }, new { @class = "button-delete" })
                                            </button>
                                        </td>
                                    }
                                    else if (session.GroupID == "ADMIN" && item.Status.Equals("TamHoan"))
                                    {
                                        <td>
                                            <a href="#" class="btn btn-info btn-xs" onclick="Sua(this)" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Sửa</a>
                                            <button href="#" class="btn btn-danger btn-xs" st0-yle="color:white;">
                                                <i class="fa fa-trash-o"></i>
                                                @Ajax.ActionLink("Xoá", "DeleteTeachCalendar", new { @id = item.ID },
                                            new AjaxOptions
                                            {
                                                Confirm = "Bạn có muốn xoá bản ghi này?",
                                                OnComplete = "$('row_" + @item.ID + "').remove()",
                                                HttpMethod = "Delete"
                                            }, new { @class = "button-delete" })
                                            </button>
                                        </td>
                                    }
                                    else if (session.GroupID != "ADMIN" && item.Status.Equals("ChuaBatDau"))
                                    {
                                        <td>
                                            <button href="#" class="btn btn-warning btn-xs" style="color:white;">

                                                <i class="fa fa-warning"></i>
                                                @Ajax.ActionLink("Hoãn", "Cancel", new { @id = item.ID },
                                            new AjaxOptions
                                            {
                                                Confirm = "Bạn có muốn hoãn buổi học này?",
                                                OnComplete = "$('row_" + @item.ID + "').remove()",
                                                HttpMethod = "Post"
                                            }, new { @class = "button-delete" })
                                            </button>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@Html.Partial("_TeachCalendarModal")
<script>
    function Them() {
        SetNull();
        $("#bt_sua").hide();
        $("#bt_them").show();
    };
    function SetNull() {
        $("#ID").val('');
        $("#ClassID").val('');
        $("#Subject_Name").val('');
        $("#TeacherID").val('');
        $("#Room").val('');
        $("#StartTime").val('');
        $("#ST").val('');
        $("#EndTime").val('');
        $("#ET").val('');
        $("#Note").val('');
        CKEDITOR.instances['Note'].setData('');
    };
    function Xoa(el) {
        var id = el.parentNode.parentNode.cells[0].textContent;
        $.ajax({
            url: '/TeachCalendar/DeleteTeachCalendar/?id=' + id,
            type: 'POST',
            dataType: 'json',
            success: function () {
                alert("Xóa thành công");
                window.location.reload();
            },
            error: function () {
                alert("Xóa thất bại");
                window.location.reload();
            }
        });
    }
    function Sua(el) {
        event.preventDefault();
        $("#bt_sua").show();
        $("#bt_them").hide();
        var id = el.parentNode.parentNode.cells[0].textContent;
        $.ajax({
            url: '/TeachCalendar/GetTeachCalData/?id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var json = JSON.parse(data);
                $("#ID").val(json.ID);
                $("#ClassID").val(json.ClassID);
                $("#Subject_Name").val(json.Subject_Name);
                $("#TeacherID").val(json.TeacherID);
                $("#Room").val(json.Room);
                $("#StartTime").val(json.StartTime.toString());
                $("#ST").val(json.StartTime);
                $("#EndTime").val(json.EndTime.toString().substr(0, 19));
                $("#ET").val(json.EndTime);
                $("#Note").val(json.Note);
                CKEDITOR.instances['Note'].setData(json.Note);
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }

</script>

